.App {
  text-align: center;
  border: green;
  border-width: 5px;
}


.country-name {
  color: green;
  font-size: 20px;
}

.delete-button {
  color: grey;
  border: none;
  font-size: 20px;
}

.delete-button:hover {
  color: red;
  font-size: 30px;
  cursor: pointer;
}

.Banner {
  color: green;
  padding: 20px;
  font-size: 50px;
  border: 3px solid green;
  margin-bottom: 10px;
}

